#include "resource.h"

IDI_APP_ICON ICON "..\\localcel_logo.ico"

IDR_PY_MAIN RCDATA "..\\localcel.py"
IDR_MANIFEST_JSON RCDATA "manifest.json"
IDR_LOGO_PNG RCDATA "..\\localcel_full.png"
IDR_LOGO_ICO RCDATA "..\\localcel_logo.ico"

1 24 "app.manifest"
